<!DOCTYPE html />
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Ideas for the best days out in the Catterick area.</title>
  <meta name="description" content="Get inspiration for some great things to do in the Catterick area" />
  <meta name="keywords" content="days out, taxi catterick, whats on, catterick taxi, taxi information" />
  <% include ../partials/header %>
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.3"></script>

  <div class="hero hero_daysout"></div>
  <div class="desktop-page">
    <article>
      <div class="text-block">
        <h1 class="text-block__h1">Things to do around Catterick</h1>
        <p class="text-block__p">25th July 2019</p>
      </div>

      <div class="text-block">
        <h2 class="text-block__h2">Need some inspiration ?</h2>
        <p class="text-block__p">
          Looking for some inspiration for things to do in the Catterick area
          this summer. We have put together a list of recommendations to help
          you out. Catterick is on the edge of the Yorkshire dales so you don't
          travel very far for some great days out. We have also worked out some
          special offer taxi prices if you need transport to get there.
        </p>
      </div>

      <% daysout.forEach(function(dayout){%>
      <div id="<%= dayout.id %>" class="container">
        <picture class="picture">
          <source srcset="<%= dayout.img %>.webp" type="image/webp" />
          <source srcset="<%= dayout.img %>.jpg" type="image/jpg" />
          <img alt="Picture of a taxi meter" src="<%= dayout.img %>.jpg" />
        </picture>
        <div class="text-block">
          <h3 class="text-block__h3"><%= dayout.title %>, <%= dayout.location %></h3>
          <p class="text-block__p">
            <%= dayout.about %>
          </p>
          <p class="text-block__p">
            <%= dayout.facilities %>
          </p>
          <p class="text-block__p">
            Find out more <a href="<%= dayout.website%>"><%= dayout.website%></a>
          </p>

        </div>
        <div class="text-block">
          <h3 class="text-block__h3">Travel information</h3>
          <div class="travel-infographic">
            <div class="travel-infographic__icon">
              <i class="fas fa-location-arrow"></i>
            </div>
            <div class=travel-infographic__info>
              <span>Distance from Catterick garrison</span>
              <span><%= dayout.miles %> miles</span>
            </div>

            <div class="travel-infographic__icon">
              <i class="fas fa-stopwatch"></i>
            </div>
            <div class=travel-infographic__info>
              <span>Driving time</span>
              <span class="dark"><%= dayout.drivingTime %> minutes</span>
            </div>
            <div class="travel-infographic__icon">
              <i class="fas fa-pound-sign"></i>
            </div>
            <div class=travel-infographic__info>
              <span>Price in a taxi</span>
              <span>£<%= dayout.price %> (return)</span>
              <span>Price for 1-3 passengers</span>
            </div>


          </div>
        </div>
      </div>

      <%});%>

      <div class="text-block">
        <h3 class="text-block__h3">Check back soon</h3>
        <p class="text-block__p">
          We are always looking for new great days out and changing our taxi
          offers so check back soon to see what's new.
        </p>
      </div>
    </article>

    <div class="container">
      <a href="/blogs"><i class="fas fa-arrow-circle-left"></i> Back to Blogs</a>
    </div>

  </div>

  <% include ../partials/footer %>
</head>

</html>